.Companies form {
    padding-bottom: 10px;
  }
  
.Companies form textarea {
  height: 2.5pc;
}

.Companies .description {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.companyType {
  offset: 10pc;
}