.PendingApprovals {
    width: 100%;
    height: 100%;
  }

.PendingApprovals h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

.PendingApprovals .description {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-align: center;
    flex:0.7;
  }

.PendingApprovals .buttons {
    margin: 1%;
    flex: 0.15;
    float: right;
  }

.PendingApprovals .Items {
  width: 100%;
  height: 100%;
}

.PendingApprovals .approval {
    display: flex;
    justify-content:center;
}